body {
  display: flex;
  flex-direction: column;
  background: url(./../img/fondo_color.svg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Comfortaa', cursive;
  background-size: cover;
  font-size: 20px;
}

h1 {
  color: orange;
}

p {
  color: orange;
}

.container {
  min-width: 100px;
  margin: 0 auto;
  text-align: center;
}

#calculadora {
  padding-top: 2em;
}

#boton_numeroCal {
  background-color: orange;
  border-radius: 100%;
}

#boton_operador {
  background-color:cornflowerblue;
}

#boton_borrar {
  background-color: red;
}

#todolist {
  max-width: 900px;
  text-align: center;
  margin: 0 auto;
}

#verificarun {
  max-width: 900px;
  text-align: center;
  margin: 0 auto;
}

#adivinanza {
  max-width: 900px;
  text-align: center;
  margin: 0 auto;
}

#resultado_adivinanza {
  background-color: white;
}

#todo-lista {
  background-color: white;
}